.has-background-info {
  background-color: hsl(204, 86%, 53%);
}
nav {
  font-size: 1.125rem;
  font-family: 'SimSun', 'Deng', 'FZYTK';
}
.top-nav-collapse {
  background-color: hsl(204, 68%, 54%);
}
.page-footer {
  color: #000;
  background-color: transparent;
  /* background-color: hsl(0, 0%, 21%); */
}
footer.page-footer a {
  color: var(--link-color);
}
.social-icon-list a {
  font-size: 1.5rem;
}