{{ define "main__content" }}
  <!-- Main layout -->
    <!-- <div class="sidebar mdl-grid">
        {{ partial "sidebar-categories.html" . }}

        {{ partial "sidebar-tags.html" . }}

        {{ partial "sidebar-series.html" . }}
    </div> -->
<div class="post-card__container">
  {{ $totalpostscount := len (.Data.Pages) }}
  {{ $latestpostscount := .Site.Params.latestpostscount | default $totalpostscount }}
  {{ if gt $latestpostscount 0 }}
    <!-- <div class='post-heading'>
      {{ i18n "latestPosts" }}
    </div> -->
    {{ range (first $latestpostscount .Data.Pages.ByPublishDate.Reverse ) }}
        {{ partial "post-card.html" . }}
    {{ end }}
  {{ end }}
</div>
{{ end }}
