{{ with $.Site.Taxonomies.tags }}
  <div class="mdl-list tags">
    <li class="mdl-list__item taxonomies__item">
      <a class="mdl-list__item-primary-content" href="{{ "tags/" | absLangURL }}">
        <i class="material-icons">label</i>标签
      </a>
    </li>
    {{ range $key, $value := . }}
      <li class="mdl-list__item"><a class="mdl-list__item-primary-content" href='{{ "tags/" | absURL }}{{ $key | urlize }}'><span>{{ $key }} ({{ $value.Count }})</span></a></li>
    {{ end }}
  </div>
{{ end }}
