{{ $kind := .Kind }}
{{ range where .Pages ".Params.categories" "ne" nil }}
  {{ $.Scratch.Add "categories"  (apply .Params.categories "lower" ".") }}
{{ end }}

{{ $terms := uniq ($.Scratch.Get "categories") }}
{{ if gt (len $terms) 0 }}
  {{ with .Site.Taxonomies.categories }}
    <div class="mdl-list categories">
      <li class="mdl-list__item taxonomies__item">
        <a class="mdl-list__item-primary-content" href="{{ "categories/" | absLangURL }}">
          <i class="material-icons">view_list</i>
          <span>分类</span>
        </a>
      </li>
      {{ if eq $kind "section" }}
        {{ range $index, $element := where .ByCount "Name" "in" $terms }}
          <li class="mdl-list__item">
            <a class="mdl-list__item-primary-content" href="{{ "categories/" | absLangURL }}{{ $element.Name | urlize }}">
              {{ $element.Name | title }} ({{ .Count }})
            </a>
          </li>
        {{ end }}
      {{ else }}
        <!-- Others -->
        {{ range $index, $element := .ByCount }}
          <li class="mdl-list__item">
            <a class="mdl-list__item-primary-content" href="{{ "categories/" | absLangURL }}{{ $element.Name | urlize }}">
              {{ $element.Name | title }} ({{ .Count }})
            </a>
          </li>
        {{ end }}
      {{ end }}
    </div>

    <!-- <hr> -->
  {{ end }}
{{ end }}
